<!DOCTYPE html>
<html>
<head>
    <title>Batch-Datei erstellt</title>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
<div class="container">
    <h1>{{message}}</h1>
    <pre>{{batchContent}}</pre>
    <form action="/execute" method="POST">
        <button type="submit">Befehle ausführen</button>
    </form>

    <a href="/teams">Zurück zum Anfang</a>
</div>
</body>
</html>
